<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
	<script type=text/javascript>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 	</script>
	<title>Patient Generated Data</title>
	
</head>
<body>
	{% include 'navbar.html' %}
		<div class="container" id="content" style="margin-top:30px">
            {% if page == 'main' %}
            {% include 'observations.html' %}
            {% else %} 
            {% include 'request.html' %}
            {% endif %}

    	</div>
	{% include 'footer.html' %}




</body>

</html>
